<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application
        android:name=".base.PaycraftApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paycraft">
        <activity
            android:name=".home.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.Dart.Launch"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.LaunchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.Dart"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.transactions.detail.TransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.reports.detail.ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.ExpenseManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.reports.create.CreateReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.advance.create.CreateAdvanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.Dart"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.Dart"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.forgot.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.Dart"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.NoToolBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.add.otp.AddCardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft.NoToolBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.add.verify.CardVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.PoliciesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.transactions.create.CreateTransactionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.RecordsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.AttachmentsViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Paycraft"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.cards.CardsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.trip.create.CreateTripAdditionalActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.trip.details.TripActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.trip.create.CreateTripActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.advance.detail.AdvanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.change_passsword.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.add.kyc.AddCardKycActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.preferences.PreferencesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.cart_number.UpdateCardNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ems.SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".card.add.ActivateCardInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".base.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>